.promo02{
	width: 100%;
	background-size: cover;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	padding: 67px 0 20px;
	min-height:327px;
	position: relative;
	overflow: hidden;
	.promo02__img{
		svg{
			transform-style: preserve-3d;
			animation: torsion 7s infinite alternate ease-in-out -7.5s;
			animation-fill-mode: forwards;
		}
	}
	@keyframes torsion{
		from {opacity: 1;}
		4% {opacity: .9;}
		6% {opacity: .85;}
		8% {opacity: .95;}
		10% {opacity: .90;}
		11% {opacity: .922;}
		12% {opacity: .9;}
		14% {opacity: .95;}
		16% {opacity: .98;}
		17% {opacity: .9;}
		19% {opacity: .93;}
		20% {opacity: .99;}
		24% {opacity: 1;}
		26% {opacity: .94;}
		28% {opacity: .98;}
		37% {opacity: .93;}
		39% {opacity: .96;}
		42% {opacity: 1;}
		44% {opacity: .97;}
		46% {opacity: .94;}
		56% {opacity: .9;}
		58% {opacity: .9;}
		60% {opacity: .99;}
		68% {opacity: 1;}
		70% {opacity: .9;}
		72% {opacity: .95;}
		93% {opacity: .93;}
		95% {opacity: .95;}
		97% {opacity: .93;}
		to {opacity: 1;}
	}

	.promo02__layout{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		padding-top: 57px;
	}
	.tt-col{
		&:nth-child(1){
			flex: 0 0 30%;
			max-width: 30%;
			padding-bottom: 0;
		}
		&:nth-child(2){
			margin-top: 0px;
			flex: 2 1 auto;
			padding: 0px 70px 0 50px;
		}
		&:nth-child(3){
			padding: 0px 0 0 0;
		}
	}
	.promo02__title{
		font-size: 48px;
		line-height: 51px;
		color: #ffffff;
		letter-spacing: -0.03em;
		font-family: $default_font2;
		padding: 0;
		margin: 0;
	}
	.promo02__content{
		color: #D3D3D5;
	}
	.promo02_rowbtn{
		> *{
			min-width: 197px;
			&:not(:first-child){
				margin-top: 13px;
			}
		}
	}
	@media (min-width: 1891px){
		.promo02__img{
			position: absolute;
			left: 6.4%;
		}
	}
	@media (max-width: 1890px){
		padding-left: 25px;
		padding-right: 25px;
		.promo02__title{
			font-size: 43px;
			line-height: 45px;
		}
		.promo02__img{
			left: 0px;
			margin-right: 30px;
			> svg{
				max-width: 150px;
			}
		}
		.tt-col{
			&:nth-child(1){
				max-width: 24%;
				flex: 0 0 24%;
				min-width:332px;
			}
		}
		.container{
			max-width: inherit;
			padding: 0;
			margin: 0;
		}
	}
	@media (max-width: 1400px){
		.promo02__title{
			font-size: 40px;
			line-height: 42px;
		}
		.promo02__img{
			left: 0px;
			margin-right: 25px;
			> svg{
				max-width: 110px;
			}
		}
		.tt-col{
			&:nth-child(1){
				max-width: 24%;
				flex: 0 0 24%;
				min-width:288px;
			}
			&:nth-child(2){
				padding: 0px 50px 0px 50px;
			}
		}
	}
	@media (max-width: 1200px){
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: flex-start;
		padding: 105px 0px 23px;
		.promo02__img{
			flex: 0 0 inherit;
			max-width: inherit;
			margin-right: 0;
			padding-right: 30px;
			position: relative;
			top: -25px;
			svg{
				max-width: 152px;
				float: right;
			}
		}
		.container{
			flex: 0 0 inherit;
			max-width: inherit;
		}
		.promo02__layout{
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: flex-start;
			padding-top: 0px;
			padding-right:40px;
			padding-bottom: 20px;
			.t-col{
				flex: 0 0 100%;
				max-width: 100%;
			}
			.tt-col{
				&:nth-child(1){
					flex: 0 0 100%;
					max-width: 100%;
					min-width: inherit;
				}
				&:nth-child(2){
					padding: 0px;
					margin-top: 12px;
				}
				&:nth-child(3){
					padding: 0px;
					margin-top: 11px;
				}
			}
			.promo02_rowbtn{
				margin-left: -26px;
				margin-top: -6px;
				> *{
					min-width: 152px;
					margin-top: 20px;
					margin-left: 26px;
				}
			}
		}
		.promo02__title{
			font-size: 35px;
			line-height: 37px;
			br{
				display: none;
			}
		}
	}
	@media (max-width: 1024px){
		padding: 84px 0px 25px;
	}
	@media (max-width: 766px){
		padding: 55px 0px 29px;
		.promo02__title{
			font-size: 33px;
			line-height: 34px;
			br{
				display: block;
			}
		}
		.promo02__img{
			top: -7px;
			padding-right: 10px;
			svg {
				max-width: 88px;
				height: auto;
			}
		}
		.promo02__layout{
			padding-right: 20px;
			.promo02_rowbtn > *{
				min-width:inherit;
			}
			.tt-col{
				&:nth-child(2){
					margin-top: 9px;
				}
			}
		}
	}
}