/*
	form Default
*/

/* placeholder */
::-webkit-input-placeholder{color:#888888;}
::-moz-placeholder      {color:#888888;}
:-moz-placeholder       {color:#888888;}
:-ms-input-placeholder  {color:#888888;}

::-moz-placeholder, :-moz-placeholder {
	opacity: 1;
}
input:focus::-webkit-input-placeholder{color:transparent;}
input:focus:-moz-placeholder{color:transparent;}
input:focus::-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder{color:transparent;}
textarea:focus::-webkit-input-placeholder{color:transparent;}
textarea:focus:-moz-placeholder{color:transparent;}
textarea:focus::-moz-placeholder{color:transparent;}
textarea:focus:-ms-input-placeholder{color:transparent;}

/* form-default */
.form-default{
	.form-group{
		position: relative;
		label.error{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: center;
			position: absolute;
			top: 56px;
			left: 0;
			padding: 8px 12px 6px;
			background: red;
			color: #ffffff;
			font-size: 14px;
			line-height: 22px;
			z-index: 1;
			width: 100%;
			&:after{
				content: '';
				position: absolute;
				top: -12px;
				left: 50%;
				border: 6px solid transparent;
				border-bottom: 6px solid #f8353e;
			}
		}
	}
	.pt-disabled{
		pointer-events: none;
		opacity: 0.5;
		user-select: none;
	}
	button[type=submit]{
		margin-top: 14px;
	}
	.form-control{
		background: transparent;
		font-size: 16px;
		line-height: 25px;
		border: 1px solid #dddddd;
		color: #888888;
		padding:13px 12px 12px 18px;
		box-shadow:none;
		outline: none;
		font-family: $default_font;
		transition: all 0.3s;
		box-shadow:none;
		border-radius: 5px;
		&.is-invalid{
			border: 1px solid red;
		}
	}
	.form-control:not(textarea){
		height: 48px;
	}
	input.form-control,
	textarea.form-control{
		-webkit-appearance: none;
	}
	textarea.form-control{
		padding-top: 10px;
	}
	.form-control.error{
		border-color: red;
		box-shadow:none;
	}
	.form-control:focus{
		border-color: $default_color;
		background: transparent;
	}
	.pt-required{
		display: inline-block;
		float: right;
		position: relative;
		top: 4px;
		color: red;
		padding-left: 5px;
		font-size: 14px;
		line-height: 22px;
	}
	.invalid-feedback{
		margin-top: 2px;
		font-size: 14px;
		line-height: 24px;
	}
}
.tt-subtitle{
	& + .form-default{
		margin-top: 5px;
	}
}