/*
	Gallery Inner layout
*/
.gallery-externallayout-wrapper{
	margin-left: -10px;
	margin-right: -10px;
	[class^=col-]{
		padding-left: 10px;
		padding-right: 10px;
	}
	@media (min-width: 1025px){
		padding-left: 55px;
		padding-right: 55px;
		margin-top: -43px;
		[class^=col-]{
			padding-top: 43px;
		}
	}
	@media (max-width: 1024px){
		padding-left: 5px;
		padding-right: 5px;
		margin-top: -33px;
		[class^=col-]{
			padding-top: 33px;
		}
	}
}
.gallery-externallayout{
	text-align: center;
	display: block;
	.gallery__img{
		overflow: hidden;
		position: relative;
		img{
			width: 100%;
			height: auto;
			transition: transform 0.5s;
		}
	}
	.gallery__time{
		font-size: 15px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #5C5C5C;
		margin-top: 23px;
	}
	.gallery__title{
		font-size: 36px;
		line-height: 38px;
		font-weight: 500;
		color: #3D3B42;
		margin-top: 10px;
		font-family: $default_font2;
	}
	.gallery__video{
		width: 93px;
		height: 93px;
		background-color: #FF1A43;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		pointer-events:none;
		transform: translate(-50%, -50%);
		&:before{
			content: '';
			display: inline-block;
			border: 11px solid transparent;
			border-left: 17px solid #ffffff;
			margin-right: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-5px, -10px);
		}
	}
	&:hover{
		.gallery__img{
			img{
				transform: scale3d(1.1,1.1,1);
			}
		}
	}
	@media (max-width: 1024px){
		.gallery__time{
			font-size: 14px;
		}
		.gallery__title{
			font-size: 30px;
			line-height: 32px;
			margin-top: 5px;
		}
		.gallery__video{
			width: 79px;
			height: 79px;
			&:before{
				border-width: 7px;
				border-left-width: 13px;
				transform: translate(-5px, -6px);
			}
		}
	}
	@media (max-width: 790px){
		.gallery__time{
			font-size: 14px;
			letter-spacing: .2em;
		}
		.gallery__title{
			font-size: 24px;
			line-height: 26px;
			margin-top: 5px;
		}
		.gallery__video{
			width: 53px;
			height: 53px;
			&:before{
				border-width: 6px;
				border-left-width: 10px;
				transform: translate(-3px, -6px);
			}
		}
	}
}
