/*
	Theme variables
*/
/* font */
$default_font:								'Roboto', sans-serif;
$default_font2:								'Poppins', sans-serif;
$default_font_icon:							'club';
/* default */
$default_bg_color:							#ffffff;
$default_text_color:						#888888;
$default_color:								#FF1A43;
$default_color02:							#3D3B42;

$link_color_base:							$default_color;
$speed:										0.2s;
$border:									#3D3B42;

//Button type 1 ".tt-btn"
$btn_color:									#ffffff;
$btn_color-hover:							$btn_color;
//Button type 2 ".tt-btn"
$btn_test_color:							$default_color02;
$btn_bg_color:								#ffffff;
$btn_border_color1:							#FF1A43;
$btn_border_color2:							#7B16D9;

